.header {
  position: relative;
  background-image: url('/assets/header.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--dark-primary);
}

.headerFilter {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.25rem);
  display: grid;
  place-items: center;
}

.searchBarContainer {
  display: grid;
  height: var(--search-bar-height);
  margin-bottom: calc(var(--search-bar-height) / -2);
}
