.wrapper {
  display: grid;
  background-color: #fff;
  border-radius: calc(45.59px / 2) calc(45.59px / 2) 0 0;
  place-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  box-shadow: var(--dark-shadow);
  border-radius: 100rem;
  width: max-content;
  background-color: var(--background);
  z-index: 1;
}

.icon {
  box-sizing: initial;
  width: 1.125rem;
  height: 1.125rem;
  stroke: var(--text);
  margin-right: 0.3rem;
  padding: 0.3rem;
}

.input {
  border: none;
  outline: none;
  font-size: 1rem;
  line-height: 1.1;
  padding: 0.375rem 0.5rem;
  background-color: var(--background);
}

.resultsList {
  --border-radius: calc(45.59px / 2);
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--dark-shadow);
  display: grid;
  padding: calc(var(--search-bar-height) + 1rem) 1rem 1rem 1rem;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  width: 100%;
  z-index: 0;
}

.resultsForHelper {
  font-size: 0.9rem;
  padding: 0;
  text-align: left;
  margin: 0;
  width: 100%;
  color: #999;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.coinDataContainer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
