.navbar {
  max-width: 1100px;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-family: 'Quantum', sans-serif;
  color: var(--white-text);
  margin: 0;
  font-size: 1.8rem;
  cursor: pointer;
}

.titleAccent {
  color: var(--secondary);
  font-family: inherit;
}
